<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors Profile</title>
   <link rel="stylesheet" href="Doctor-Patient Visit Details.css">
</head>
<body>

<div class="container">
    <h2>Doctor-Patient Visit Details</h2>
    <div class="doctors-grid">
        
        <!-- Patient 1 -->
        <div class="card">
           
            <h3>Name:</h3>
            <h3>age:</h3>
            <h3>Gender:</h3>
            <h3>Status:</h3>
            <h3>Histroy</h3>
        </div>

    </div>

</div>

</body>
</html>
