{% extends "user/base.html" %}

{% load static %}

{% block title  %}Dashboard{% endblock title  %}

{% block css  %}
<link rel="stylesheet" href="{% static 'css/doct/home.css' %}">
{% endblock css  %}

{% block main %}

<div class="container">
    <h2>Appointments</h2>
    <div class="doctors-grid">
        
        <!-- Patient 1 -->
        {% for appointment in appointments %}
        <div class="card" data-id="{{appointment.id}}">
           
            <h3>Name: {{appointment.user.name|title}} </h3>
            <h3>age: {{appointment.age}} </h3>
            <h3>Gender: {{appointment.user.gender|title}} </h3>
            <h3>Status: {{appointment.status|title}}</h3>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock main %}

{% block js %}
<script>
    //card click
    $(".card").each(function(){
        $(this).click(function(){
            let appointmentId = $(this).attr("data-id");
            window.location.href = "/doct/appointment_details/?appointmentId="+appointmentId;
        })
    })
</script>

    {% endblock js %}
