{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}title{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/user/base.css' %}">

    {% block css %}
    
    {% endblock css %}

</head>
<body>

    <nav class="navbar">
        <div class="logo">DocCare</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url "book_appointment" %}">Book Appointment</a></li>

            <li><a href="{% url "doctors" %}">Doctors</a></li>
            <li><a href="#footer">About</a></li>

            {% if request.user.is_authenticated %}
            <li><a href="{% url "user_logout" %}"><button class="login-btn" type="button">Logout</button></a></li>
            {% else %}
            <li><a href="{% url "user_login" %}"><button class="login-btn" type="button">Login / Sign Up</button></a></li>

            <div class="wrapper">
                <a href="{% url "doct_login" %}" title="Doctor login">
                    <img src="{% get_media_prefix %}img/doctor.jpeg" alt="">
                </a>
            </div>
            
            {% endif %}
            
        </ul>
    </nav>

    <main>    
        {% block main %}
        
        {% endblock main %}


    </main>

    <footer class="footer" id="footer">
        <div>
            <h3>DocCare</h3>
            <p>DocCare is a  startup company empaneled with Doctors, Hospitals, touching lives of over  million patients.</p>
        </div>
        <div>
            <h3>For Information</h3>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Booking Guide</a></li>
                <li><a href="#">Pharmacy</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Press Release</a></li>
                <li><a href="#">FAQs</a></li>
            </ul>
        </div>
        <div>
            <h3>Helpful Links</h3>
            <ul>
                <li><a href="#">Book Appointment</a></li>
                <li><a href="#">Search for doctors</a></li>
                <li><a href="#">Book Lab/Diagnostics Test</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">SMS Booking</a></li>
                <li><a href="#">Services</a></li>
            </ul>
        </div>
        <div>
            <h3>Contact Us</h3>
            <p>Rookie Developer, Nalbari, Assam</p>
            <p>+91 111111111</p>
            <p>Customer Support: support@DocCarebook.com</p>
            <p>Official Queries: info@DocCarebook.com</p>
        </div>
    </footer>

    <div id="alert" style="display: none;">
        
    </div>


    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <script>

        function alert_show(type, msg){
            
            setTimeout(function(){
                console.log('called ' + type);
                $("#alert").css("display", "block");

                if (type == "error") {
                    $("#alert").html(`
                        <div class="alert_error">
                            <strong>Error!</strong> ${msg}
                        </div>
                    `);
                }
                else if (type == "success") {
                    $("#alert").html(`
                        <div class="alert_success">
                            <strong>Success!</strong> ${msg}
                        </div>
                    `);
                }
                else if (type == "warning") {
                    $("#alert").html(`
                        <div class="alert_warning">
                            <strong>Warning!</strong> ${msg}
                        </div>
                    `);
                }

                setTimeout(function(){
                    $("#alert").css("display", "none");
                }, 6000);
            }, 100);
            
        }

                
    </script>


    
    {% block js %}
    {% endblock js %}
    
    
</body>
</html>