{% extends 'user/base.html' %}

{% load static %}

{% block title %}
  Home
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/user/home.css' %}" />
{% endblock %}

{% block main %}
  <section class="mainSec">
    <div class="banner">
      <div class="container">
        <h1>View Doctors, Book an Appointment</h1>
        <h3>Book an Appointment one of the best doctors in the city</h3>
        <a href="{% url "book_appointment" %}" class="appointment-btn">Book & Appointment</a>
      </div>
    </div>
    <section class="steps-section">
      <h2>Discover the Online Appointment!</h2>
      <p>A step-by-step guide to build an on-demand appointment for patients</p>
      <div class="steps-container">
        <div class="step-box">
          <img src="{% get_media_prefix %}img/register.png" alt="Find a Doctor" />
          <h3>REGISTER</h3>
          <p>With more than 1000+ doctors, we provide the best healthcare service.</p>
        </div>
        <div class="step-box">
          <img src="{% get_media_prefix %}img/view.jpg" alt="View Doctor" />
          <h3>VIEW DOCTOR</h3>
          <p>Share your health concern and get assigned to a top doctor in your region.</p>
        </div>
        <div class="step-box">
          <img src="{% get_media_prefix %}img/visit.png" alt="Book a Visit" />
          <h3>BOOK A VISIT</h3>
          <p>Book your time slot with a doctor from your comfort zone.</p>
        </div>
      </div>
      <button class="find-doctor-btn">Find Doctor →</button>
    </section>
    <section class="clinic-specialties">
      <h2>Clinic and Specialities</h2>
      <p>Find experienced doctors across all specialties</p>
      <div class="specialties-wrapper">
        <div class="specialties-container" id="specialties_container"></div>
      </div>
    </section>
    <!-- Chat Button -->
    <div class="chat-button" onclick="openChat()">✉️</div>

    <!-- Chat Popup -->
    <div class="chat-popup" id="chatPopup">
      <div class="chat-header">
        Chat Support
        <span class="close-chat" onclick="closeChat()">×</span>
      </div>
      <div class="chat-body">
        <p>
          <strong>Bot:</strong> Hello! How can I help you?
        </p>
      </div>
      <div class="chat-input">
        <input type="text" placeholder="Type a message..." />
        <button>Send</button>
      </div>
    </div>
  </section>
{% endblock %}

{% block js %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
